<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Home</h2>
  </div>
</header>
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
      <div class="row bg-white has-shadow">
        <div class="col-xl-4 col-sm-6"><!--(click)="abrirDatos()"-->
          <div class="item d-flex align-items-center">
            <div class="icon bg-violet"><i class="fa fa-home"></i></div>
            <div class="title"><span>JAT "Justicia, acción y trabajo :'v"</span>
              <div class="progress">
                <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
