<div class="container login">
  <form class="form-signin" action="login.html" method="post">
    <h3>Inicie sesión</h3>
    <br>
    <input type="email" id="inputEmail" class="form-control" placeholder="Ingrese usuario" required autofocus>
    <br>
    <input type="password" id="inputPassword" class="form-control" placeholder="Ingrese contraseña" required>
    <br>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Recordar
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
  </form>
</div>
