<div style="background-size: cover;" class="jumbotron relative-positioned color-white text-md-center mb-0">
  <div class="dark-mask mask-primary"></div>
  <div class="container">
    <div class="row mb-small">
      <div class="col-md-12 text-center">
        <h1 class="text-uppercase">Inmobiliaria Jat</h1>
        <h2 class="text-uppercase">Te brindamos el mejor servicio de venta de propiedades, lotes y alquileres en la región Piura.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-small"><img src="assets/img/template-mac.png" alt="..." class="img-fluid"></div>
      <div class="col-md-6 text-center-sm">
        <p class="text-uppercase text-bold">Empresa. Inmobiliaria. Jat.<br>Venta de Propiedades y Lotes.<br/>Alquileres de Local y Habitaciones.</p>
        <p class="no-letter-spacing">Si desea adquirir alguno de estos servicios, o alguna consulta de cualquier de nuestros servicios...</p>
        <p><a href="#packages" class="scroll-to btn btn-template-outlined-white">Contactos</a></p>
      </div>
    </div>
  </div>
</div>
<!--Contacto-->
<!--<div id="heading-breadcrumbs" class="brder-top-0 border-bottom-0">
    <div class="container">
      <div class="row d-flex align-items-center flex-wrap">
        <div class="col-md-12 text-center">
          <h1 class="h2">Contacto</h1>
        </div>
        <div class="col-md-5">
          <ul class="breadcrumb d-flex justify-content-end">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Contact</li>
          </ul>
        </div>
      </div>
    </div>
  </div>-->
  <div class="bar background-pentagon no-mb pt-0 mb-0">
    <div id="contact" class="container pt-0 mb-0">
      <section class="bar mb-0">
        <div class="row">
          <div class="col-md-12">
            <div class="heading text-center">
              <h2>Inmobiliaria Jat</h2>
            </div>
            <p class="lead" style="font-size: 22px">
              Te brindamos el mejor servicio de venta de propiedades, lotes y alquileres de local - habitaciones.
              Cualquier consulta con la empresa nos puede contactar por nuestra dirección, numero de celular, correo electronico o
              por nuestras redes sociales. Estamos dispuestos solucionarles sus consultas y brindarle los servicios que disponemos hacia usted.
            </p>
            <!--<p class="text-sm">Please feel free to contact us, our customer service center is working for you 24/7.</p>-->
          </div>
        </div>
      </section>
      <section class="mb-0">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="box-simple">
              <div class="icon-outlined"><i class="fa fa-map-marker"></i></div>
              <h3 class="h4">Dirección</h3>
              <p style="font-size: 15px">13/25 New Avenue<br> New Heaven, 45Y 73J<br> England,  <strong>Great Britain</strong></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-simple">
              <div class="icon-outlined"><i class="fa fa-phone"></i></div>
              <h3 class="h4">Telefono Central</h3>
              <p style="font-size: 15px">This number is toll free if calling from Great Britain otherwise we advise you to use the electronic form of communication.</p>
              <p><strong>+33 555 444 333</strong></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-simple">
              <div class="icon-outlined"><i class="fa fa-envelope"></i></div>
              <h3 class="h4">Correo Electronico</h3>
              <p style="font-size: 15px">Please feel free to write an email to us or to use our electronic ticketing system.</p>
              <ul class="list-unstyled text-sm">
                <li><strong><a href="mailto:">info@fakeemail.com</a></strong></li>
                <li><strong><a href="#">Ticketio</a></strong> - our ticketing support platform</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
<!--End contacto-->
<section style="background-size: cover;" class="jumbotron relative-positioned color-white text-md-center mb-0">
  <div class="dark-mask mask-primary"></div>
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-uppercase">Propiedades</h2>
          <p class="lead mb-small">¡ Más de 20 casas para ti !</p>
          <p class="mb-small">Nuestras propiedades existen de diferentes precios de venta y se encuentran a diferentes lugares de la región Piura.</p>
          <p><a href="#" class="btn btn-template-outlined-white">Leer mas</a></p>
        </div>
        <div class="col-md-6 text-center"><img src="assets/img/template-easy-customize.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </section>
  <section class="jumbotron relative-positioned text-md-center mb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center"><img src="assets/img/template-easy-code.png" alt="" class="img-fluid"></div>
        <div class="col-md-6">
          <h2 class="text-uppercase">Lotes</h2>
          <p class="lead mb-small">¡ Mas de 10 lotes para voz !</p>
          <p class="mb-small">La venta de nuestros lotes se encuentran en lugares estratégicos de Piura y a diferentes precios del cliente.
            ¡ Compre su lote ahora !
          </p>
          <p><a href="#" class=" btn btn-template-main">Leer mas</a></p>
        </div>
      </div>
    </div>
  </section>
  <section style="background-size: cover;" class="jumbotron relative-positioned color-white text-md-center mb-0">
    <div class="dark-mask mask-primary"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-uppercase">Alquileres</h2>
          <p class="mb-small"> <strong>De Locales y Habitaciones</strong>. Tenemos los diferentes locales en alquileres ya sea para el desarrollo diferentes eventos.
          Y alquiler de habitaciones de hotel.</p>
          <p><a href="#" class="btn btn-template-outlined-white">Leer mas</a></p>
        </div>
        <div class="col-md-6 text-center"><img src="assets/img/template-easy-customize.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </section>
