<div class="card mb-0 card-accent-primary">
    <div class="card-header bg-primary">
      <span *ngIf="!vistaFormulario" class="h6">MANTENIMIENTO DE ROLES</span>
      <span *ngIf="vistaFormulario && !verNuevo" class="h6">NUEVO ROL</span>
      <span *ngIf="vistaFormulario && verNuevo" class="h6">EDITANDO ROL</span>
      <button type="button" class="close float-right" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-close"></i><!--*ngIf="!proveedores && !captadores"-->
      </button>
    </div>
    <form *ngIf="!vistaFormulario">
      <div class="card-body pb-0" >
        <!--/.card-->
        <div class="card border-primary">
            <div class="card-header bg-primary border-primary">
              <i class="fa fa-align-justify"></i> Listado de Roles
              <button type="button" class="btn btn-primary btn-sm float-right" (click)="nuevo()">
                <i class="fa fa-plus"></i> Nuevo
              </button>
            </div>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control border-primary" placeholder="Busque por rol" maxlength="150" id="cdescor" name="cdescor" required><!--[(ngModel)]="dni"-->
                <input type="text" class="form-control border-primary" placeholder="Busque por permiso" maxlength="150" id="cdescr" name="cdscor" required><!--[(ngModel)]="nombre"-->

                <button class="input-group-addon btn btn-square btn-primary" type="button"><i class="fa fa-search cursor-pointer"></i></button><!--(click)="busqueda()" -->
              </div>
              <div class="table-responsive">
                <!--/.table-->
                <table class="table table-responsive-sm table-bordered table-striped table-hover table-outline">
                    <thead class="thead-light">
                      <tr>
                        <th class="text-center">#</th>
                        <th>Rol</th>
                        <th>Permiso</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="text-center">1</th>
                        <td></td>
                        <td></td>
                        <td><ui-switch [checked]="true"  name="estado1" >estado</ui-switch></td>
                        <td scope="row" class="text-center">
                          <a class="btn-link" style="cursor: pointer" title="editar" (click)="traerParaEdicion(1)"><i class="fa fa-edit text-primary" style="font-size: 23px; "></i></a>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-center">2</th>
                        <td></td>
                        <td></td>
                        <td><ui-switch [checked]="true"  name="estado1" >estado</ui-switch></td>
                        <td scope="row" class="text-center">
                          <a class="btn-link" style="cursor: pointer" title="editar" (click)="traerParaEdicion(1)"><i class="fa fa-edit text-primary" style="font-size: 23px; "></i></a>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <!--/.table-->
                <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#">Prev</a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
              </div>
            </div>
        </div>
        <!--/.card-->
      </div>
      <div class="modal-footer border-primary">
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpiar</button>
          <button type="button" class="btn btn-sm btn-dark" (click)="activeModal.dismiss('Cross click')"><i class="fa fa-remove"></i> Cerrar</button>
      </div>
    </form>
    <form #rol="ngForm" *ngIf="vistaFormulario" class="form-horizontal" (ngSubmit)="guardarRoles()"> <!--#formulario="ngForm"-->
      <div class="card-body" >
            <!--<div *ngIf="cargando">
              <p>Cargando....</p>
              <app-cargando></app-cargando>
            </div>-->
            <div class="form-group row">
                <label class="col-sm-3 form-control-label">Estado <span class="text-primary">*</span></label>
                <div class="col-sm-9" >
                  <ui-switch [checked]="true" name="estado" >estado</ui-switch><!--*ngIf="!ingeniero.id"-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 form-control-label">Rol <span class="text-primary">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="nombre" required="" placeholder="Ingrese nombre rol" maxlength="50"><!--[(ngModel)]="ingeniero.nombre"-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 form-control-label">Permiso</label>
                <div class="col-sm-9">
                  <input type="text" name="correo" placeholder="Ingrese nombre permiso" class="form-control" maxlength="50"><!--[(ngModel)]="ingeniero.correo"-->
                </div>
            </div>
      </div>
      <div class="modal-footer border-primary">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!rol.form.valid"><i class="fa fa-dot-circle-o"></i> Guardar</button><!--*ngIf="!ingeniero.id" [disabled]="!formulario.form.valid || !ingeniero.idubigeo.nombre"-->
          <!--<button type="submit" class="btn btn-primary" *ngIf="ingeniero.id" [disabled]="!formulario.form.valid || !ingeniero.idubigeo.nombre">Actualizar</button>-->
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpiar</button>
          <button type="button" class="btn btn-sm btn-dark" (click)="vistaFormulario = false"><i class="fa fa-remove"></i> Cancelar</button>
      </div>
    </form>
  </div>
